<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_title")%>:</td>
    <td><%= f.text_field :title, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_slug")%>:</td>
    <td><%= f.text_field :slug, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_body")%>:</td>
    <td><%= f.text_area :body, {"style" => "width:500px"} %> </td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_foreign_link")%>:</td>
    <td><%= f.text_field :foreign_link, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_meta_keywords")%>:</td>
    <td><%= f.text_field :meta_keywords, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_meta_description")%>:</td>
    <td><%= f.text_field :meta_description, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_show_in_sidebar")%>:</td>
    <td><%= f.check_box :show_in_sidebar %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_show_in_header")%>:</td>
    <td><%= f.check_box :show_in_header %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_show_in_footer")%>:</td>
    <td><%= f.check_box :show_in_footer %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_position")%>:</td>
    <td><%= f.text_field :position %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_layout")%>:</td>
    <td><%= f.text_field :layout %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_ck_visible")%>:</td>
    <td><%= f.check_box :visible %></td>
  </tr>
</table>
